{% extends 'auctions/layout.html' %}

{% block body %}
<h2>Create Listing</h2>
<div class="card my-card">
<form action="{% url 'create_listing' %}" method='post' class="card-body listing">
	{% csrf_token %}
	<h6>Title of listing</h6>
	{{ listing_form.title}}
	<br>
	<h6>Description of listing</h6>
	{{listing_form.description}}
	<br>
	<h6>Starting bid</h6>
	{{listing_form.bid}}
	<br>
	<h6>Image url</h6>
	{{listing_form.image_url}}
	<br>
	<h6>Category</h6>
	<select name='categories'>
		{% for category in categories %}
		<option value='{{category.id}}'>{{category}}</option>
		{% endfor %}
	</select>
	<br>
	<input type='submit' class='btn btn-primary submit'>	
</form>
</div>
{% endblock %}