{% extends 'auctions/layout.html'%}
{%block body%}
<h2>Active Listings</h2>
{% for listing in listings %}
<div class="card my-1">
	<div class="card-body" >
		{% if user.is_authenticated %}
			<p class="title"><a href="{% url 'a_listing' listing.id %}">{{listing.title}}</a></p> 
		{% else %}
			<p class="title" style="text-decoration: underline;">{{listing.title}}</p>
		{% endif %}
		<p> {{listing.description}}</p>
		<p>The listing price is ksh.{{listing.listing_price}}</p>
	</div>
</div>
	{% empty %}
	<p>No active listings yet...</p>
{% endfor %}

{% if not user.is_authenticated %}
<h5>Please <a href="{% url 'login' %}">log in </a>or <a href="{% url 'register' %}">create an account</a>
to see all details</h5>
{% endif %}
<a href="{% url 'categories' %}">Go to categories </a>
{%endblock%}